<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="landingPage.css" rel="stylesheet">
    <style type="text/css">
       
        #ourBelieve {
            height:500px;
        }

        #ourBelievePng {
            float:left;
            width:50%;
        }
        #ourBelieveTxt {
            float:right;
            width:50%;
            font-size: 32px;
            text-align: center;
            vertical-align: middle;
        }

        @media (max-width:800px){
            *{
                padding:10px;
            }
            #ourBelievePng {
                float:none;
                width:auto;
                height:auto;
            }
            #ourBelieveTxt {
                float:none;
                width:auto;
                text-align: center;
            }
        }

         #float {
            display: inline-block;
            /* display: inline-block; */
            float:center;
            width:100%;
            font-size: 32px;
            text-align: center;

        }

        #picture {
            width: 100%;
            height: auto;
        }

        #button{
            width: auto;
            height: 25px;
        }
 
        #share-buttons img {
            width: 35px;
            padding: 5px;
            border: 0;
            box-shadow: 0;
            display: inline;
        }

        a {
           text-decoration:none;    /*去除底線*/
        }
        

    </style>
</head>

<body>
<body>
<!-- 我們的理念 -->
<div  id="ourBelieve">
    <div  id="ourBelievePng"> 
        <div><img id="picture" src="http://placekitten.com/420/500"/></div>
    </div>
    <div id="ourBelieveTxt"><h2>我們的理念</h2>
        <p> bla... bla... bla... <br>bla... bla... bla... </p>
    </div>
</div>


<!-- 關注我們 -->
    <div id="float">    
            <h1>關注我們</h1>   <!-- 若畫面太小時，會直接重疊到上面的部分！無法突破的障礙 > < -->
            <!-- Facebook Icon -->
            <a href="我們的粉專~~" target="_blank" >
                <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
            </a>

            <!-- Twitter Icon-->
            <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank" >
                <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
            </a>
            <!-- Email Icon-->
            <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
                <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
            </a>
        
    </div>


</body>
</html>
