body{
    text-align:center;
}
.picture{
    background-image: url('bar.jpg');
    background-color: white;
}
.button {
    background-color: white; 
    border: 2px solid #008CBA;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #0254f7;
    color: white;
}
.container-fluid{
    height: 500px;
}
.center{
    padding-top: 360px;
}
#ourBelieve {
            height:500px;
        }
#ourBelievePng {
    float:left;
    width:50%;
    height: 300px;
}
#ourBelieveTxt {
    float:right;
    width:50%;
    height: 300px;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
}
@media (max-width:800px){
    *{
        padding:10px;
    }
    #ourBelievePng {
        float:none;
        width:auto;
        height:auto;
    }
    #ourBelieveTxt {
        float:none;
        width:auto;
        text-align: center;
    }
}
#float {
    display: inline-block;
            /* display: inline-block; */
    float:center;
    width:100%;
    font-size: 32px;
    text-align: center;
}
#picture {
    width: 100%;
    height: auto;
}
#button{
    width: auto;
    height: 25px;
}
 
#share-buttons img {
    width: 35px;

    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
.section{
    padding-top: 50px;
    height: 600px;
    padding-bottom: 10px;
}
.section2{
    height: 500px;
    
    background-color: gray;
}
