header{
    background-image: url("computer.jpeg");
    height: 500px;
}
button{
    border-radius: 100px;
    background-color:rgba(1,1,1,0);
    border-style:solid;
    
}
nav{
    box-shadow: 0px 10px 10px #888888;
    height: 70px;
}
h1{
    text-align: center;
     padding-bottom: 12px;
     text-decoration: underline; 
}
p{
    font-size: 20px;
    padding-top: 10px;
}
section{
    margin-top: 50px;
}
footer{
    background-color: #003377;
    height: 200px;
    border-top:10px solid #DDAA00;
    margin-top: 50px;
}
#search{
    background-image: url("search.png") no-repeat 3px 3px;
}
input{
    border-radius: 100px;
    font-size: 20px;
}

.box {
  display: inline-block;
  width: 79%;
  
  border: 3px solid #0000FF;
  position: relative;
  
}

.nav-tabs .nav-justified{ 
  border:none;
  border-bottom: 2px solid;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
  border-width: 0; 
}
.nav-tabs > li > a {
 border: none; color: #666; 
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { 
  border: none; color: #f74a3d !important; 
  background: transparent; 
}
.nav-tabs > li > a::after { 
  content: ""; 
  background: #f74a3d;  /*底下那條線的顏色*/
  height: 2px; position: 
  absolute; 
  width: 100%; 
  left: 0px; 
  bottom: -1px; 
  transition: all 250ms ease 0s; 
  transform: scale(0); 
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
  transform: scale(1); 
}
.tab-nav > li > a::after { 
  background: #21527d none repeat scroll 0% 0%; 
  color: #fff; 
}
.tab-pane { 
  padding: 15px 0px; 
}
.tab-content{
  padding:20px
}
.card {
  background: #FFF none repeat scroll 0% 0%; 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); 
  margin-bottom: 30px; 
}
.reviewHeader{
  border-bottom: 1px solid #0000FF;
  
  top: 0px;
}
.review{
  padding-left: 2%;
  
  top:20%;
  text-overflow : ellipsis;
  height: 30%;
}
.reviewFooter{
  border-top: 1px solid #0000FF;
  height: 20%;
  width: 97%;
  
  padding-top: 2%;
}