header{
    background-image: url("computer.jpeg");
    height: 500px;
}
button{
    border-radius: 100px;
    background-color:rgba(1,1,1,0);
    border-style:solid;
    
}
nav{
    box-shadow: 0px 10px 10px #888888;
    height: 70px;
}
h1{
    text-align: center;
     padding-bottom: 12px;
     text-decoration: underline; 
}
p{
    font-size: 20px;
    padding-top: 10px;
}
section{
    margin-top: 50px;
}
footer{
    background-color: #003377;
    height: 200px;
    border-top:10px solid #DDAA00;
    margin-top: 50px;
}
#search{
    background-image: url("search.png") no-repeat 3px 3px;
}
input{
    border-radius: 100px;
    font-size: 20px;
}

.box {
  display: inline-block;
  width: 80%;
  height: 100px;
  margin: 1em;
  border: 5px solid #0000FF;
  color:#0000FF;
}

.tabcontent {
    display: none;
}

