<html>

<head>
    <% include common/header %> 
    <script type="text/javascript">
      function Typemouseover(x){
        x.style.color = "white";
        x.style.backgroundColor = "black";
      }
      function Typemouseout(x){
        x.style.color = "black";
        x.style.backgroundColor = "white";
      }
      function Navmouseover(x){
        x.style.textDecoration = "underline";
        x.style.textDecorationColor= "#0000FF";
      }
      function Navmouseout(x){
        x.style.textDecoration = "none";
      }
      function Mymouseover(x){
        var color_ = x.style.color;
        x.style.color = "white";
        x.style.backgroundColor = color_;
      }
      function Mymouseout(x){
        var color_ = x.style.backgroundColor;
        x.style.color = color_;
        x.style.backgroundColor = "rgba(1,1,1,0)";
      }
      function submitmouseover(x){
        x.style.color = "white";
        x.style.backgroundColor = "#0000FF";
      }
      function submitmouseout(x){
        x.style.color = "#0000FF";
        x.style.backgroundColor = "white";
      }
    </script>

    <!-- 註冊modal用 -->
    <script>
    $(document).ready(function(){
        $("#signUpBtn").click(function(){
            $("#signUpModal").modal();
        });
    });
    </script>

    <!-- 登入modal用 -->
    <script >
    $(document).ready(function(){
        $("#LogInBtn").click(function(){
            $("#LogInModal").modal();
        });
    });
    </script>
    <style type="text/css">
      h2{
        font-weight: 3px;
        padding-left: 2%;
        text-align: left;
        font-size: 25px;
      }
      p{
        text-align: left;
      }
    </style>
  <body>

<% include common/navbar %>  

    <section class="container" style="margin-top: 10%; text-align: center;">
      <h2><strong>我們的理念</strong></h2>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      近年來，自由接案者人數正逐年增加。但市場資訊的不透明性，使案件實際運行往往與原始的洽談內容有所出入，而接案者也因此深受雷案主所苦。面對這種情形，我們希望透過更多元的方式改善。透過匿名評論形式，接案者可以互相分享資訊，彼此互助，以接露出接案市場上的雷案主，消除勞資雙方的資訊不對等。進而讓雷案主有所警惕，並創造更好的自由接案市場文化。</p>
      <br>
      <h2><strong>我們的名字</strong></h2>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      手中的玻璃杯在燈光照射下反射著神秘的光澤，昏暗的光線中瀰漫著慵懶舒適的氛圍，耳中迴盪著低音沉穩的爵士樂。酒吧，總是讓人不由自覺地暢所欲言。在匿名機制的保護下，我們希望接案者能夠像在酒吧般輕鬆自在。一起一落敲打著鍵盤，揭開案主的真實面貌。</p>
    </section>
<% include common/footer %>  
    
  </body>
</html>