<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function Mymouseover(x){
        var color_ = x.style.color;
        x.style.color = "white";
        x.style.backgroundColor = color_;
      }
      function Mymouseout(x){
        var color_ = x.style.backgroundColor;
        x.style.color = color_;
        x.style.backgroundColor = "rgba(1,1,1,0)";
      }
      function Navmouseover(x){
        x.style.textDecoration = "underline";
        x.style.textDecorationColor= "#0000FF";
      }
      function Navmouseout(x){
        x.style.textDecoration = "none";
      }
    </script>
    <!-- 註冊modal用 -->
    <script>
    $(document).ready(function(){
        $("#signUpBtn").click(function(){
            $("#signUpModal").modal();
        });
    });
    </script>

    <!-- 登入modal用 -->
    <script>
    $(document).ready(function(){
        $("#LogInBtn").click(function(){
            $("#LogInModal").modal();
        });
    });
    </script>


  <body>
    <nav class="navbar navbar-fixed-top" style="background-color: white">
      <a class="navbar-brand" href="#"><img src="logo.png" style = "height:45px;"></a>
      <div class="collapse navbar-collapse col-md-offset-2" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="width: 450px; padding-top: 25px;">
          <a class="nav-item nav-link active" href="#" style="font-size: 20px;color: black;" onmouseover="Navmouseover(this)" onmouseout="Navmouseout(this)" >瀏覽評論</a>
          <a class="nav-item nav-link col-md-offset-1" href="#" style="font-size: 20px; padding-top: 5px; color: black; " onmouseover="Navmouseover(this)" onmouseout="Navmouseout(this)">發表守則</a>
          <a class="nav-item nav-link col-md-offset-1" href="#" style="font-size: 20px;color: black;" onmouseover="Navmouseover(this)" onmouseout="Navmouseout(this)">關於我們</a>
        </div>
        <div class="navbar-nav" style="width: 250px; padding-top: 25px; float: right;">
          <a href="#"><img src="facebook.png" style = "height:25px;"></a>
          <a href="#"><img src="instagram.png" style = "height:25px;"></a>
          <a href="#"><img src="twitter.png" style = "height:25px;"></a>
          <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" id="signUpBtn" style="height: 25px;width: 60px; border-color:#FF3333;color:#FF3333; ">註冊</button>
          <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" id="LogInBtn" style="height: 25px;width: 60px; border-color: #FF3333; color:#FF3333;" >登入</button>
        </div>
      </div>
    </nav>
    <header>
      <h2  align="center" style="font-family:Microsoft JhengHei; color: white; padding-top:230px; font-size: 40px;font-weight:bold;">找尋最合理的接案行情</h2>
      <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" style="border-color:#33FFFF; width:150px; height: 50px;font-weight:bold; font-size: 20px; color:#33FFFF;position:absolute;left:460px; top:350px;">立即瀏覽</button>

      <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" style="border-color:#FF3333; width:150px; height: 50px;font-weight:bold; font-size: 20px; color:#FF3333; position:absolute;left:660px;top:350px;">我要發表</button>
    </header>
    <div class="container">
      <section>
        <h1>我們在做什麼?</h1> 
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;台灣有131萬接案族，雖然金額與項目多數依照合約，也有同業行情、過往經驗參考，但有些案主出爾反爾、追加不合理要求，或者是不斷的要求，卻只換來低報酬。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我們是一個接案資訊討論平台，讓行情資訊透明化、揭露雷案主，同時讓接案者能夠彼此討論、認識，甚至合作。
        </p>
        <img src="我們在做什麼.png" style="height: 300px; padding-left: 290px;padding-top: 50px;" >
      </section>
      <section style="border-color: #0000FF; border-style:solid;">
        <h1 style="">我們的特點</h1>
        <img src="我們的特點.png" style="height: 400px; padding-left: 80px; ">
      </section>
      <section>
        <h1>我們是誰？</h1>
        <img src="關於我們.png" style="height: 300px; padding-left: 250px; padding-top: 30px;">
        <br>
        <button class="col-md-offset-4" onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" style=" margin-top:10px; border-color:#0000FF; width:150px; height: 50px;font-weight:bold; font-size: 20px; color:#0000FF;">立即瀏覽</button>
        <button class="col-md-offset-1" onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" style="margin-top:10px;border-color:#FF3333; width:150px; height: 50px;font-weight:bold; font-size: 20px; color:#FF3333;">我要發表</button>
      </section>
      <section>
        <div style="text-align:center;">
          <p style="font-size: 10px; display:inline;">關注我們</p>
          <a href="#"><img src="facebook.png" style = "height:40px;"></a>
          <a href="#"><img src="instagram.png" style = "height:40px;"></a>
          <a href="#"><img src="twitter.png" style = "height:40px;"></a>
          <p style="font-size: 10px; display:inline;">聯絡我們</p>
          <a href="#"><img src="letter.png" style = "height:40px;"></a>
        </div>
      </section>
    </div>

    <!-- 註冊modal -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="signUpModal" role="dialog">
        <div class="modal-dialog">   
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px; ">
            <label style="margin-top:10px; font-size:70px;color:#0000FF;"><span ><img class="col-md-6" src="logo2.png" style = "width:150px; height:auto"></span>CaseBar</label>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="background-color:#FF7F50; height:450px;">
              <p  style="font-size:30px; text-align:center; color:white; ">新會員註冊</p>
              <form role="form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="暱稱">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="帳號(信箱)">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="密碼">
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="" checked>Remember me</label>
                </div >
                  <button type="submit" style="text-align:center; margin-top:10px; border-color:white; width:100%; height: 50px;font-weight:bold; font-size: 20px; color:white;">註冊</button><br>
                  <button class="col-md-6" type="submit" style=" margin-top:10px; border-color:#4169E1; width:100%; height: 50px;font-weight:bold; font-size: 20px; background-color:#4169E1; color:white;"> <span><img class="col-md-6" src="facebook-modal.png" style = "height:25px;width:auto"></span>以facebook註冊</button><br>
                  <button class="col-md-6" type="submit" style=" margin-top:10px; border-color:#DC143C; width:100%; height: 50px;font-weight:bold; font-size: 20px; background-color:#DC143C; color:white;"> <span><img class="col-md-6" src="google-modal.png" style = "height:25px;width:auto"></span>以Google註冊</button>
              </form>
            </div>
            <div style="background-color: #f9f9f9" class="modal-footer">
              <p>已經註冊了? <a href="#">登入</a></p>
            </div>
          </div>
          
        </div>
      </div> 
    </div>

   <!-- 登入modal -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="LogInModal" role="dialog">
        <div class="modal-dialog">   
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px; ">
            <label style="margin-top:10px; font-size:70px;color:#0000FF;"><span ><img class="col-md-6" src="logo2.png" style = "width:150px; height:auto"></span>CaseBar</label>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="background-color:#FF7F50; height:450px;">
              <p  style="font-size:30px; text-align:center; color:white; ">會員登入</p>
              <form role="form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="帳號(信箱)">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="密碼">
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="" checked>Remember me</label>
                </div >
                  <button type="submit" style="text-align:center; margin-top:10px; border-color:white; width:100%; height: 50px;font-weight:bold; font-size: 20px; color:white;">登入</button><br>
                  <button class="col-md-6" type="submit" style=" margin-top:10px; border-color:#4169E1; width:100%; height: 50px;font-weight:bold; font-size: 20px; background-color:#4169E1; color:white;"> <span><img class="col-md-6" src="facebook-modal.png" style = "height:25px;width:auto"></span>以facebook登入</button><br>
                  <button class="col-md-6" type="submit" style=" margin-top:10px; border-color:#DC143C; width:100%; height: 50px;font-weight:bold; font-size: 20px; background-color:#DC143C; color:white;"> <span><img class="col-md-6" src="google-modal.png" style = "height:25px;width:auto"></span>以Google登入</button>
              </form>
            </div>
            <div style="background-color:#f9f9f9; margin:auto;" class="modal-footer">
              <a href="#" class="col-md-offset-2"  >新會員註冊</a>
              <a href="#" class="col-md-offset-2"  >忘記密碼</a>
            </div>
          </div>
          
        </div>
      </div> 
    </div>


    <footer style="position:absolute; width:100%; left:0px;height:250px;">
        <div  class="col-md-4" style="font-family:Microsoft JhengHei; color: white; font-weight:bold; left:200px; ">
          <p style="font-size: 30px; ">CaseBar</p> 
          <p style="font-size: 10px; ">接案酒吧</p> 
        </div>
        <div  class="col-md-8" style="font-family:Microsoft JhengHei; color: white; font-weight:bold;"> 
          <p style="font-size: 10px; ">關注我們</p>
          <p style="font-size: 10px; ">我們在做什麼</p>
          <p style="font-size: 10px; ">我們的特點</p>
          <p style="font-size: 10px; ">我們是誰</p>
        </div>
        <div  class="col-md-6" style="font-family:Microsoft JhengHei; color: white; font-weight:bold; left:200px;"> 
          <a href="#"><img src="facebook-footer.png" style = "height:40px;"></a>
          <a href="#"><img src="instagram-footer.png" style = "height:40px;"></a>
          <a href="#"><img src="twitter-footer.png" style = "height:40px;"></a>
          <a href="#"><img src="letter-footer.png" style = "height:40px;"></a>
        </div>
    </footer>
  </body>
</html>