<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>

<body>
    <div class="ui three column grid">
        <div class="row"></div>
        <div class="row">
          <div class="column"></div>
          <div class="column ui segment">
            <h1>登入</h1>
            <%if (login){ %>
            <h3>Hi, 您已登入</h3>
            <a href='/'>回首頁</a>
            <% }else{%>
            <form class="ui form" action="/login" method="post" onSubmit="">
              <div class="field">
                  <label>帳號</label>
                  <input type="text" name="username">
              </div>

              <div class="field">
                <label>密碼</label>
                <input type="password" name="password">
            </div>

            <div class="ui buttons">
              <button class="ui button">取消</button>
              <div class="or"></div>
              <button class="ui positive button" type="submit">送出</button>
          </div>
      </form>
      <%}%>

  </div>
  <div class="column"></div>
</div>
</div>
</body>
</html>