<html>

<% include common/header %> 

<style type="text/css">
  h2{
    font-weight: 10px;
    padding-left: 2%;
  }

</style>
<body>
  <% include common/navbar %>  

  <section class="container" style="margin-top: 10%; text-align: center; padding-bottom: 5%;border:3px solid #0000FF; width: 80%;">
    <form class="" action="/reviseReview" method="post">
      <%for(var j =0; j< posts.length;j++) {%>
      <h2>標題</h2>
      <textarea rows="8" cols="50" type="text" maxlength='16' name="posttitle" value=<%=posts[j].thisPosttitle%>><%=posts[j].thisPosttitle%></textarea>
      <h2>內文</h2>
      <textarea rows="8" cols="50" type="text" cols="30" rows="8" name='postcontent' value=<%=posts[j].thisPostcontent%>><%=posts[j].thisPostcontent%></textarea>
      <%}%>
      <br>
      <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" type="submit"  style="border-color: #FF3333;color:#FF3333;width:8%;margin-bottom: 1%; ">取消</button>
      <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" type="submit"  style=" border-color: #FF3333;color:#FF3333;width:8%; margin-bottom: 1%;">送出</button>
    </form>
  </section>
  <% include common/footer %>  
</body>
</html>