<html>

<% include common/header %> 

<style type="text/css">
  h2{
    font-weight: 3px;
    padding-left: 2%;
    text-align: left;
    font-size: 25px;
  }
  p{
    text-align: left;
  }
</style>
<body>

  <% include common/navbar %>  

  <section class="container" style="margin-top: 10%; text-align: center;">
    <h1>發言規定</h1>
    <div>
      <h2><strong>(一) 評論要屬實</strong></h2>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有的發言都應該是從個人經驗出發，並以誠實為前提。如果被檢舉不實，本平台將有刪除評論的權利，並把帳號列入黑名單之內。
      </p>
    </div>
    <div>
      <h2><strong>(二) 要秉持公正</strong></h2>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評論的時候，應保持公正的態度，這不只會讓自己的發言更具中立性，也給了其他使用者評估的空間，讓自身經驗更具參考性。
      </p>
    </div>
    <div>
      <h2><strong>(三) 要為自己的言論負責</strong></h2>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本平台不為使用者的評論做任何負責，因此在書寫評論時，請三思後再書寫，避免讓自己捲入法律的糾紛。
      </p>
    </div>
  </section>

  <% include common/footer %>  

</body>
</html>