    <footer>
      <div class="divide">
          <div id="brand" class="col-md-4">
            <h3 id="brand-title">CaseBar</h3> 
            <h3 id="brand-title-ch">接案酒吧</h3>
            <div class="nav-social nav-line">
              <a href="#"><i class="fa fa-facebook nav-sma" aria-hidden="true" style="font-size:30px;margin: 0 15px;color:white;" ></i></a>
              <a href="#"><i class="fa fa-instagram nav-sma" aria-hidden="true" style="font-size:30px;margin: 0 15px;color:white;"></i></a>
              <a href="#"><i class="fa fa-twitter nav-sma" aria-hidden="true" style="font-size:30px;margin: 0 15px;color:white;"></i></a>
              <a href="#"><i class="fa fa-envelope-o nav-sma" aria-hidden="true" style="font-size:30px;margin: 0 15px;color:white;"></i></a>
            </div>
          </div>
          <div id="footer-list-up" class="col-md-8" style="font-family:Microsoft JhengHei;"> 
            <a href="#"><p class="footer-list" >關注我們</p></a>
            <a href="#"><p class="footer-list" >我們在做什麼</p></a>
            <a href="#"><p class="footer-list" >我們的特點</p></a>
            <a href="#"><p class="footer-list" >我們是誰</p></a>
          </div>
        </div>
    </footer>